<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Částka po splatnosti (CZK) *</td>

            <td tooltip-error="pastDueAmountCZK">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  ng-model="vm.model.pastDueAmountCZK"
                                  type="inputCurrency"
                                  name="pastDueAmountCZK"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Částka po splatnosti (EUR)</td>

            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  ng-if="vm.formControlMode == 'edit' || vm.model.pastDueAmountEUR != undefined"
                                  ng-model="vm.model.pastDueAmountEUR"
                                  type="inputCurrency"
                                  name="amountOverdueEUR"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.pastDueAmountEUR">-</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Počet dnů po splatnosti *</td>
            <td tooltip-error="daysPastDue">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  ng-model="vm.model.daysPastDue"
                                  type="input"
                                  name="daysPastDue"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Platnost *</td>
            <td tooltip-error="pastDueDate">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  ng-model="vm.model.pastDueDate"
                                  type="datepicker"
                                  name="pastDueDate"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        </tbody>
    </table>
</div>
