<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Obraty na účtu - sledovaný měsíc (CZK) *</td>
            <td tooltip-error="turnoverCZK">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="turnoverCZK"
                                  ng-model="vm.model.turnoverCZK"
                                  type="inputCurrency"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Obraty na účtu - sledovaný měsíc (EUR)</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="turnoverEUR"
                                  ng-if="vm.formControlMode == 'edit' || model.turnoverEUR != undefined"
                                  ng-model="vm.model.turnoverEUR"
                                  type="inputCurrency"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.turnoverEUR">-</span>
            </td>
        </tr>
        <tr>
            <td>Obraty na účtu - průměr za předchozí období (CZK) *</td>
            <td tooltip-error="averageMonthlyTurnoverCZK">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="averageMonthlyTurnoverCZK"
                                  ng-model="vm.model.averageMonthlyTurnoverCZK"
                                  type="inputCurrency"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Obraty na účtu - průměr za předchozí období (EUR)</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="averageMonthlyTurnoverEUR"
                                  ng-if="vm.formControlMode == 'edit' || vm.model.averageMonthlyTurnoverEUR != undefined"
                                  ng-model="vm.model.averageMonthlyTurnoverEUR"
                                  type="inputCurrency"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.averageMonthlyTurnoverEUR ">-</span>
            </td>
        </tr>
        <tr ng-if="vm.formControlMode == 'edit'">
            <td>Začátek předchozího období *</td>
            <td tooltip-error="turnoverFactDateFrom">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="turnoverFactDateFrom"
                                  ng-model="vm.model.turnoverFactDateFrom"
                                  type="datepicker"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Pokles obratu o (%) *</td>
            <td tooltip-error="turnoverPercentageChange">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="turnoverPercentageChange"
                                  ng-model="vm.model.turnoverPercentageChange"
                                  type="inputPercentage"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Počet transakcí - sledovaný měsíc *</td>
            <td tooltip-error="numberOfTransactions">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="numberOfTransactions"
                                  ng-model="vm.model.numberOfTransactions"
                                  type="input"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Počet transakcí - průměr za předchozí období *</td>
            <td tooltip-error="averageTransactionsPerMonth">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="averageTransactionsPerMonth"
                                  ng-model="vm.model.averageTransactionsPerMonth"
                                  type="input"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr ng-if="vm.formControlMode == 'view'">
            <td>Sledovaný měsíc *</td>
            <td tooltip-error="turnoverFactToDate">
                {{vm.model.turnoverFactToDate | date: 'MM/yyyy'}}
            </td>
        </tr>
        <tr ng-if="vm.formControlMode == 'edit'">
            <td>Sledovaný měsíc *</td>
            <td tooltip-error="turnoverFactToDate">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="turnoverFactToDate"
                                  ng-model="vm.model.turnoverFactToDate"
                                  type="datepicker"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr ng-if="vm.formControlMode =='edit'">
            <td>Konec předchozího období *</td>
            <td tooltip-error="turnoverFactDateTo">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="turnoverFactDateTo"
                                  ng-model="vm.model.turnoverFactDateTo"
                                  type="datepicker"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr ng-if="vm.formControlMode == 'view'">
            <td>Předchozí období *</td>
            <td tooltip-error="previousPeriod">
                {{vm.model.turnoverFactDateFrom | date:'MM/yyyy'}}
              - {{vm.model.turnoverFactDateTo | date:'MM/yyyy'}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
