<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td colspan="2">
                <strong class="text-blue">EXEKUCE</strong>
            </td>
        </tr>
        <tr>
            <td>Číslo účtu</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="distraintAccountNumber"
                                  ng-model="vm.model.distraintAccountNumber"
                                  type="input"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.distraintAccountNumber">-</span>
            </td>
        </tr>
        <tr>
            <td>Datum vydání exekuce</td>
            <td class="col-sm-6">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="distraintIssueDate"
                                  ng-model="vm.model.distraintIssueDate"
                                  class="control-label"
                                  type="datepicker"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.distraintIssueDate">-</span>
            </td>
        </tr>
        <tr>
            <td>Částka exekuce (CZK)</td>
            <td class="col-sm-6">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="distraintAmountCZK"
                                  ng-model="vm.model.distraintAmountCZK"
                                  type="inputCurrency"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.distraintAmountCZK">-</span>
            </td>
        </tr>
        <tr>
            <td>Částka exekuce (EUR)</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="distraintAmountEUR"
                                  ng-if="vm.formControlMode == 'edit' || vm.model.distraintAmountEUR != undefined"
                                  ng-model="vm.model.distraintAmountEUR"
                                  type="inputCurrency"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.distraintAmountEUR">-</span>
            </td>
        </tr>
        <tr>
            <td>Číslo jednací</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="distraintActId"
                                  ng-model="vm.model.distraintActId"
                                  type="input"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.distraintActId">-</span>
            </td>
        </tr>
        <tr>
            <td>Zadavatel exekuce</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="distraintIssuerName"
                                  ng-model="vm.model.distraintIssuerName"
                                  type="input"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.distraintIssuerName">-</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td colspan="2">
                <strong class="text-blue">BLOKACE</strong>
            </td>
        </tr>
        <tr>
            <td>Číslo účtu</td>
            <td class="col-sm-6">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="reservationAccountNumber"
                                  ng-model="vm.model.reservationAccountNumber"
                                  type="input"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.reservationAccountNumber">-</span>
            </td>
        </tr>
        <tr>
            <td>Datum počátku účinnosti blokace</td>
            <td class="col-sm-6">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="reservationStartDate"
                                  ng-model="vm.model.reservationStartDate"
                                  type="datepicker"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.reservationStartDate">-</span>
            </td>
        </tr>
        <tr>
            <td>Částka blokace (CZK)</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="reservationAmountCZK"
                                  ng-model="vm.model.reservationAmountCZK"
                                  type="inputCurrency"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.reservationAmountCZK">-</span>
            </td>
        </tr>
        <tr>
            <td>Částka blokace (EUR)</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="reservationAmountEUR"
                                  ng-if="vm.formControlMode == 'edit' || vm.model.reservationAmountEUR != undefined"
                                  ng-model="vm.model.reservationAmountEUR"
                                  type="inputCurrency"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.reservationAmountEUR">-</span>
            </td>
        </tr>
        <tr>
            <td>Typ blokace</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="reservationType"
                                  ng-model="vm.model.reservationType"
                                  type="select"
                                  options="vm.codebooks.CB_AccountReservationType"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.reservationType">-</span>
            </td>
        </tr>
        <tr>
            <td>Zadavatel blokace</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="reservationIssuerName"
                                  ng-model="vm.model.reservationIssuerName"
                                  type="input"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.reservationIssuerName">-</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
