<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>ID kontroly v CMT *</td>
            <td tooltip-error="termInstanceId">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="termInstanceId"
                                  ng-model="vm.model.termInstanceId"
                                  type="input"
                                  required="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Předmět kontroly *</td>
            <td tooltip-error="termType">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="termType"
                                  ng-model="vm.model.termType"
                                  type="select"
                                  options="vm.codebooks.CB_CMTContractualTermType"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        </tbody>
    </table>

</div>

