<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Navrhovatel *</td>
            <td tooltip-error="insolvencySubmitterName">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="insolvencySubmitterName"
                                  ng-model="vm.model.insolvencySubmitterName"
                                  type="input"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Spisová značka insolvence *</td>
            <td tooltip-error="insolvencyId">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="insolvencyId"
                                  ng-model="vm.model.insolvencyId"
                                  type="input"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Datum vzniku *</td>
            <td tooltip-error="insolvencyCreationDate">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="insolvencyCreationDate"
                                  ng-model="vm.model.insolvencyCreationDate"
                                  type="datepicker"
                                  require="true"> </EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Datum ukončení *</td>
            <td tooltip-error="insolvencyEndDate">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="insolvencyEndDate"
                                  ng-model="vm.model.insolvencyEndDate"
                                  type="datepicker"
                                  require="true"></EWS-FORM-CONTROL>

            </td>
        </tr>
        </tbody>
    </table>
</div>


