<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Průměrné čerpání KTK za předchozí období (CZK) *</td>
            <td tooltip-error="monthlyAverageUtilizationCZK">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="monthlyAverageUtilizationCZK"
                                  ng-model="vm.model.monthlyAverageUtilizationCZK"
                                  type="inputCurrency"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Průměrné čerpání KTK za sledovaný měsíc (CZK) *</td>
            <td tooltip-error="actualOverdraftUtilizationCZK">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="actualOverdraftUtilizationCZK"
                                  ng-model="vm.model.actualOverdraftUtilizationCZK"
                                  type="inputCurrency"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Čerpání na konci sledovaného měsíce (CZK) *</td>
            <td tooltip-error="eomOverdraftUtilizationCZK">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="eomOverdraftUtilizationCZK"
                                  ng-model="vm.model.eomOverdraftUtilizationCZK"
                                  type="inputCurrency"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr ng-if="vm.formControlMode == 'edit'">
            <td tooltip-error="controlSubject">Sledovaný měsíc *</td>
            <td tooltip-error="overdraftFactToDate">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="overdraftFactToDate"
                                  ng-model="vm.model.overdraftFactToDate"
                                  type="datepicker"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr ng-if="vm.formControlMode == 'view'">
            <td>Sledovaný měsíc *</td>
            <td>
                {{vm.model.overdraftFactToDate | date: 'MM/yyyy'}}
            </td>
        </tr>
        <tr ng-if="vm.formControlMode == 'edit'">
            <td>Začátek předchozího období *</td>
            <td tooltip-error="overdraftFactDateFrom">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="overdraftFactDateFrom"
                                  ng-model="vm.model.overdraftFactDateFrom"
                                  type="datepicker"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Průměrné čerpání KTK za předchozí období (EUR)</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="monthlyAverageUtilizationEUR"
                                  ng-if="vm.formControlMode == 'edit' || vm.model.monthlyAverageUtilizationEUR != undefined"
                                  ng-model="vm.model.monthlyAverageUtilizationEUR"
                                  type="inputCurrency"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.monthlyAverageUtilizationEUR">-</span>

            </td>
        </tr>
        <tr>
            <td>Průměrné čerpání KTK za sledovaný měsíc (EUR)</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="averageOverdraftUtilizationEUR"
                                  ng-if="vm.formControlMode == 'edit' || vm.model.averageOverdraftUtilizationEUR != undefined"
                                  ng-model="vm.model.averageOverdraftUtilizationEUR"
                                  type="inputCurrency"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.averageOverdraftUtilizationEUR">-</span>
            </td>
        </tr>
        <tr>
            <td>Čerpání na konci sledovaného měsíce (EUR)</td>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="eomOverdraftUtilizationEUR"
                                  ng-if="vm.formControlMode == 'edit' || vm.model.eomOverdraftUtilizationEUR != undefined"
                                  ng-model="vm.model.eomOverdraftUtilizationEUR"
                                  type="inputCurrency"></EWS-FORM-CONTROL>
                <span ng-if="vm.formControlMode == 'view' && !vm.model.eomOverdraftUtilizationEUR">-</span>
            </td>
        </tr>
        <tr ng-if="vm.formControlMode == 'edit'">
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr ng-if="vm.formControlMode == 'edit'">
            <td>Konec předchozího období *</td>
            <td tooltip-error="overdraftFactDateTo">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="overdraftFactDateTo"
                                  ng-model="vm.model.overdraftFactDateTo"
                                  type="datepicker"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr ng-if="vm.formControlMode == 'view'">
            <td>Předchozí období *</td>
            <td>
                {{vm.model.overdraftFactDateFrom | date:'MM/yyyy'}} - {{vm.model.overdraftFactDateTo | date:'MM/yyyy'}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
