<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna spřízněné osoby"
                                  ng-model="vm.model.connectedPersonChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna 100% vlastníka"
                                  ng-model="vm.model.absoluteOwnerChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna majoritního vlastníka"
                                  ng-model="vm.model.majorityShareholderChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna minoritního vlastníka"
                                  ng-model="vm.model.minorityShareholderChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna člena statutárního orgánu"
                                  ng-model="vm.model.statutoryBodyMemberChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna ovládaného subjektu"
                                  ng-model="vm.model.controlledSubjectChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna názvu klienta"
                                  ng-model="vm.model.clientNameChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna skutečného majitele"
                                  ng-model="vm.model.realOwnerChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna jednající osoby"
                                  ng-model="vm.model.authorisedAgentChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna spřízněné osoby EPB"
                                  ng-model="vm.model.connectedPersonEpbChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna řídící osoby"
                                  ng-model="vm.model.directingPersonChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna sídla"
                                  ng-model="vm.model.residencyChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="Změna kapitálu CZK"
                                  ng-model="vm.model.basicCapitalCzkChange"
                                  type="checkbox" ></EWS-FORM-CONTROL>
            </td>
        </tr>
        </tbody>
    </table>
</div>
