<div class="col-xs-6">
    <table class="table table-transparent table-sm table-striped-cols-right">
        <tbody>
        <tr>
            <td>Typ varování *</td>
            <td tooltip-error="clientAlertType">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="clientAlertType"
                                  ng-model="vm.model.clientAlertType"
                                  type="select"
                                  options="vm.codebooks.CB_ClientAlertType"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Událost *</td>
            <td tooltip-error="clientAlertCategory">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="clientAlertCategory"
                                  ng-model="vm.model.clientAlertCategory"
                                  type="select"
                                  options="vm.codebooks.CB_AlertCategory"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        <tr>
            <td>Datum vzniku varování *</td>
            <td tooltip-error="clientAlertValidFrom">
                <EWS-FORM-CONTROL mode="vm.formControlMode"
                                  name="clientAlertValidFrom"
                                  ng-model="vm.model.clientAlertValidFrom"
                                  type="datepicker"
                                  require="true"></EWS-FORM-CONTROL>
            </td>
        </tr>
        </tbody>
    </table>
</div>
