<div class="container" role="main">
  <alerts></alerts>

  <div class="page-header">
    <h3>Detail signálu</h3>
  </div>
  <ng-form name="vm.signalDetailForm">
    <div class="container-white">
      <div class="row client-info">
        <CLIENT-OVERVIEW template="detailed"
                         data="vm.data.client"
                         codebooks="vm.codebooks"
                         refresh-link="vm.data._links.signalDetailRefresh"
                         refresh-data="vm.data"
                         collapsible="true"
                         links="vm.data.client._links"
                         ng-if="vm.data">
        </CLIENT-OVERVIEW>
      </div>
      <hr/>

      <div class="row">
        <div role="tablist" class="col-xs-12 "
             aria-multiselectable="true" bs-collapse start-collapsed="true" data-allow-multiple="true">
          <div class="panel panel-client-detail panel-client-detail-sm">
            <div bs-collapse-toggle class="panel-heading pointer" role="tab"
                 id="signals-action-plan-header" ng-click="vm.changeAPTitle()">
              <h3 class="panel-title pointer">
                {{vm.clientAPPanelTitle}}
              </h3>
            </div>
            <div class="panel-collapse" id="signals-action-plan" role="tabpanel" bs-collapse-target>
              <div class="panel-body action-plan-plan">
                {{vm.data.client.clientDetail.actionPlan.actionPlan}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div role="tablist" class="col-xs-12 "
             aria-multiselectable="true" bs-collapse ng-model="vm.isOpenSignalsOpened"
             data-allow-multiple="true">
          <div class="panel panel-client-detail panel-client-detail-sm">
            <div bs-collapse-toggle class="panel-heading pointer" role="tab" id="open-signals-header">
              <h3 class="panel-title pointer">
                Další otevřené signály klienta ({{vm.data.client.clientOpenedSignals.items.length}})
              </h3>
            </div>
            <div class="panel-collapse" id="open-signals" role="tabpanel" bs-collapse-target>
              <div class="panel-body">
                <CMT-TABLE
                  table-class="table-bordered"
                  header-type="client_open_signals_table_header"
                  data="vm.data.client.clientOpenedSignals"
                  table-empty="table_no_record_default"
                  pagination="false"
                  pagination-redirect="true">
                </CMT-TABLE>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr/>

      <div class="row">
        <div class="block-header">
          <h3>Signál</h3>
        </div>
        <div class="col-xs-4">
          <table class="table table-transparent  table-striped-cols-right">
            <tbody>
            <tr>
              <td>ID Signálu</td>
              <td>{{vm.data.signalId}}</td>
            </tr>
            <tr>
              <td>Název</td>
              <td>{{vm.data.signalType.displayValue}}</td>
            </tr>
            <tr>
              <td>Datum založení</td>
              <td>{{vm.data.signalDetection.signalDetectionTime| ewsDate}}</td>
            </tr>
            <tr>
              <td>Datum vzniku dat</td>
              <td>{{vm.data.signalDetection.sourceDataOriginationDate| ewsDate}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-4">

          <table class="table table-transparent table-striped-cols-right">
            <tbody>
            <tr>

              <td>Klasifikace signálu</td>
              <td ng-show="!vm.signalClassificationEditable">
                <i ews-icon="vm.data.classification.riskClassification.code" class="ews-icon help"
                   tooltip ng-attr-data-title="{{vm.data.classification.riskClassification.tooltip}}"
                   data-container="body"></i>
                {{vm.data.classification.riskClassification.displayValue}}
                <i ews-icon="'ews-icon-check-green'" class="ews-icon  ews-icon-pull-right help" tooltip
                   ng-attr-data-title='Signál, ze kterého pochází akční plán.'></i>
              </td>
              <td ng-show="vm.signalClassificationEditable">
                <select ng-model="vm.updateResource.riskClassification"
                        ng-options="rc.code as rc.displayValue for rc in vm.data.allowedRiskClassifications"
                        class="form-control"
                        name="updateResource.riskClassification">
                </select>
              </td>
            </tr>
            <tr>

              <td>Stav signálu</td>
              <td>{{vm.data.signalStatus.displayValue}}</td>
            </tr>
            <tr>
              <td>Původ signálu</td>
              <td>{{vm.data.signalDetection.signalDetectionMethod.displayValue}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-4">

          <table class="table table-transparent table-sm table-striped-cols-right">
            <tbody>
            <tr>

              <td>Datum ohodnocení</td>
              <td>
                {{(vm.data.signalAssesmentDate | ewsDate) || '-'}}
              </td>
            </tr>
            <tr>

              <td>Datum validace</td>
              <td>
                {{(vm.data.signalValidationDate | ewsDate) || '-'}}
              </td>
            </tr>
            <tr>
              <td>Datum klasifikace</td>
              <td>
                {{(vm.data.classification.signalClassificationDate | ewsDate) || '-'}}
              </td>
            </tr>
            <tr>
              <td>Datum poslední změny AP</td>
              <td>
                {{(vm.data.actionPlan.actionPlanChangeDate | ewsDate) || '-'}}
              </td>
            </tr>
            <tr>
              <td>Datum uzavření signálu</td>
              <td>{{(vm.data.signalClosingDate |
                ewsDate) || '-'}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="block-header">
          <h3>Popis signálu</h3>
        </div>
        <div class="col-xs-12 signal-description">{{vm.data.signalDescription}}</div>
      </div>
      <hr/>
      <div class="row" ng-if="vm.displaySpecificData(vm.data.signalType)">
        <div class="block-header">
          <h3>Specifická pole</h3>
        </div>
        <form class="col-xs-12">
          <EWS-SPECIFIC-DATA form-control-mode="view" model="vm.data.specificData"
                             type="vm.data.signalType.code"></EWS-SPECIFIC-DATA>
        </form>
      </div>
      <hr ng-if="vm.displaySpecificData(vm.data.signalType)"/>
      <div class="row" ng-if="vm.actionPlanMode !== ''">
        <div class="action-plan" ng-switch="vm.actionPlanMode">
          <div class="block-header">
            <h3>Akční plán</h3>
          </div>
          <div class="col-xs-12" ng-switch-when="read">
            <div class="action-plan-plan">{{vm.data.actionPlan.actionPlan}}</div>
            <div class="col-xs-4 no-left-right-padding">
              <table class="table table-transparent table-sm table-striped-cols">
                <tbody>
                <tr>
                  <td>Datum kontroly akčního plánu</td>
                  <td>{{vm.data.actionPlan.actionPlanDueDate | ewsDate}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-4 col-xs-offset-2 no-left-right-padding">
              <table class="table table-transparent table-sm table-striped-cols">
                <tbody>
                <tr>
                  <td>Role řešitele akčního plánu</td>
                  <td>{{vm.data.actionPlan.actionPlanResolverRole.displayValue}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div ng-switch-when="edit">
            <div class="col-xs-12" tooltip-error="updateResource.actionPlan"
                 tooltip-error-data="{maxlength:vm.actionPlanMaxLength}">
                            <textarea ng-model="vm.updateResource.actionPlan"
                                      ng-maxlength="vm.actionPlanMaxLength"
                                      maxlength="{{::vm.actionPlanMaxLength+1}}"
                                      name="updateResource.actionPlan"></textarea>
            </div>
            <div class="col-xs-6">
              <table class="table table-transparent table-sm table-striped-cols">
                <tbody>
                <tr>
                  <td>Datum kontroly akčního plánu</td>
                  <td tooltip-error="updateResource.actionPlanDueDate">
                    <EWS-FORM-CONTROL mode="vm.datepickerMode"
                                      ng-model="vm.updateResource.actionPlanDueDate"
                                      type="datepicker" ng-model-options="{allowInvalid:true}"
                                      min-date="vm.actionPlanMinDate"
                                      max-date="vm.actionPlanMaxDate"
                                      require="true"
                                      name="updateResource.actionPlanDueDate">
                    </EWS-FORM-CONTROL>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-6">
              <table class="table table-transparent table-sm table-striped-cols-right table-no-header">
                <thead>
                <tr>
                  <th class="col-xs-5"></th>
                  <th class="col-xs-7"></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                  <td>Role řešitele akčního plánu</td>
                  <td tooltip-error="updateResource.actionPlanResolverRole">
                    <select ng-model="vm.updateResource.actionPlanResolverRole"
                            ng-options="codebook.code as codebook.displayValue for codebook in vm.codebooks.CB_EwsProcessRole | filter:{forEvaluation: true}"
                            class="form-control form-control-medium"
                            name="updateResource.actionPlanResolverRole">
                    </select>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <hr/>

            <div class="col-xs-12">
              <div role="tablist" aria-multiselectable="true" bs-collapse data-start-collapsed="false">
                <div class="panel panel-client-detail panel-client-detail-lg">
                  <div bs-collapse-toggle class="panel-heading pointer" role="tab"
                       id="proposed-action-plan-header">
                    <h3 class="panel-title pointer">
                      Návrh akčního plánu
                    </h3>
                  </div>
                  <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body">
                      {{vm.data.signalProperties.proposedActionPlan}}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <hr ng-if="vm.actionPlanMode !== ''"/>
      <div class="row" ng-if="vm.displayNote">
        <div class="block-header">
          <h3>Poznámka</h3>
        </div>
        <ng-form class="col-xs-12" name="vm.signalHistoryForm" isolate-form>
          <div tooltip-error="note"
               tooltip-error-data="{minlength: vm.noteMinLength}">
                <textarea id="detail-client-note" name="note" ng-model="vm.updateResource.note"
                          placeholder="Vložit poznámku"
                          ng-minlength="{{::vm.noteMinLength}}"
                          ng-attr-maxlength="{{::vm.noteMaxLength}}"
                          maxlength="{{::vm.noteMaxLength+1}}"></textarea>
          </div>
        </ng-form>


      </div>
      <hr ng-if="vm.displayNote"/>
      <div class="row">
        <div class="block-header">
          <h3>Historie</h3>
        </div>
        <div class="col-xs-12">
          <SMT-TABLE template="history"
                     table-class="table-striped"
                     header-type="client_history_table_header"
                     data="vm.data.historyItems"
                     table-empty="table_no_record_default"
                     pagination-redirect="false"></SMT-TABLE>

        </div>
      </div>

    </div>
  </ng-form>
  <div ng-if="vm.data.taskBar.task || vm.displayControlPanel" class="action-bar">
    <div class="taskActions">

      <!-- Task owner -->
      <div ng-if="vm.data.taskBar.task && !vm.data.taskBar.task.taskTakenOver" class="task-info">
        <div class="title">Úkol:</div>
        <div class="info-block" ng-if="vm.data.taskBar.task.taskUsername">
          {{vm.data.taskBar.task.taskUsername}}
        </div>
        <div class="info-block" ng-if="vm.data.taskBar.task.taskType">
          {{vm.data.taskBar.task.taskType.displayValue}}
        </div>
        <div class="info-block" ng-if="vm.data.taskBar.task.taskDueDate">{{vm.data.taskBar.task.taskDueDate
          | ewsDate }}
        </div>
      </div>

      <!-- Task buttons -->
      <div class="btn-action" ng-repeat="(linkName, linkData) in vm.data.taskBar._links"
           ng-switch="linkName">
        <!-- Assess -->
        <button-resource ng-switch-when="taskAssess"
                         name="Ohodnotit signál"
                         link="linkData"
                         validate-form="vm.signalHistoryForm"
                         required-value="['note']"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- AddNote -->
        <button-resource ng-switch-when="taskAddNote"
                         name="Přidat poznámku"
                         link="linkData"
                         validate-form="vm.signalHistoryForm"
                         required-value="['note']"
                         request-data="vm.updateResource">
        </button-resource>
        <!-- Classify -->
        <button-resource ng-switch-when="taskClassify"
                         name="Klasifikovat"
                         link="linkData"
                         required-value="[
                                 'updateResource.actionPlan',
                                 'updateResource.actionPlanResolverRole',
                                 'updateResource.riskClassification']"
                         request-data="vm.updateResource"
                         validate-form="vm.signalDetailForm"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- Comment -->
        <button-resource ng-switch-when="taskComment"
                         name="Uložit komentář"
                         link="linkData"
                         validate-form="vm.signalHistoryForm"
                         required-value="['note']"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- Delegate -->
        <button-modal ng-switch-when="taskDelegate"
                      name="Delegovat úkol"
                      link="linkData" controller="delegateModal"
                      template="signals/delegateModal/delegateModal.html"
                      request-data="vm.delegateResource" parent-ctrl="ctrl">
        </button-modal>
        <!-- Modify -->
        <button-resource ng-switch-when="taskModify"
                         required-value="[
                                 'updateResource.actionPlan',
                                 'updateResource.actionPlanResolverRole',
                                 'updateResource.riskClassification']"
                         name="Uložit signál"
                         link="linkData"
                         validate-form="vm.signalDetailForm"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- RequestAssessment -->
        <button-resource ng-switch-when="taskRequestAssessment"
                         name="Vyžádat hodnocení RSM"
                         link="linkData"
                         validate-form="vm.signalHistoryForm"
                         required-value="['note']"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- RequestComment -->
        <button-resource ng-switch-when="taskRequestComment"
                         name="Vyžádat komentář RSM"
                         link="linkData"
                         validate-form="vm.signalHistoryForm"
                         required-value="['note']"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- TakeOver -->
        <button-take-over ng-switch-when="taskTakeOver"
                          name="'signal_detail_btn_' + linkName | translate"
                          link="linkData"
                          controller="takeOverModal">
        </button-take-over>
        <!-- Remove -->
        <button-resource ng-switch-when="taskRemove"
                         name="Převzít"
                         link="linkData"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- Validate -->
        <button-resource ng-switch-when="taskValidate"
                         name="Validovat signál"
                         link="linkData"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- CloseOK -->
        <button-resource ng-switch-when="taskCloseOK"
                         name="Úspěšně uzavřít"
                         link="linkData"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- CloseNOK-->
        <button-resource ng-switch-when="taskCloseNOK"
                         name="Neúspěšně uzavřít"
                         link="linkData"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- Evaluate -->
        <button-resource ng-switch-when="taskEvaluate"
                         name="Upravit signál"
                         link="linkData"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- Agree -->
        <button-resource ng-switch-when="taskAgree"
                         name="Souhlas"
                         link="linkData"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- Invalidate -->
        <button-resource ng-switch-when="taskInvalidate"
                         name="Znevalidnit signál"
                         link="linkData"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- Disagree -->
        <button-resource ng-switch-when="taskDisagree"
                         name="Delegovat úkol"
                         link="linkData"
                         request-data="vm.updateResource"
                         has-confirm-dialog="true"
                         confirm-dialog-type="linkName">
        </button-resource>
        <!-- Default-->
        <button-resource ng-switch-default
                         name="'signal_detail_btn_' + linkName"
                         link="linkData"
                         request-data="vm.updateResource">
        </button-resource>
      </div>

      <!-- Disabled TakeOver -->
      <div ng-if="vm.data.taskBar.task && !vm.data.taskBar._links.taskTakeOver && (login != vm.data.taskBar.task.taskOwner)"
           class="btn-action">
        <button-resource name="Převzít"
                         disabled="true"
                         link="{}"
                         request-data="vm.updateResource">
        </button-resource>
      </div>
    </div>
  </div>
</div>

<!-- /container -->
