<form name="quickSearch" ng-submit="vm.filterRecords()"
      class="has-feedback input-search pull-right"
      tooltip-error="filterCriteria" tooltip-error-data="{maxlength: queryMaxLenght}">
  <label class="control-label sr-only">Search field</label>
  <input name="filterCriteria" type="text" class="form-control blue-border"
         placeholder="Filtrovat záznamy"
         ng-model="vm.filter.filterCriteria"
         ng-maxlength="200" maxlength="201"/>
  <i class="form-control-feedback " ng-click="filterRecords()"></i>
</form>
