<div id="detail-klienta-signaly" class="tab-pane in active clearfix">
  <div class="col-xs-12">
    <div class="pull-left" ng-switch="data.totalItems">V soukromé frontě máte <strong>{{vm.totalItems}}</strong>
      <span ng-switch-when="1">úkol</span>
      <span ng-switch-when="data.totalItems == 2">úkoly</span>
      <span ng-switch-when="data.totalItems == 3">úkoly</span>
      <span ng-switch-default="">úkolů</span>
    </div>
    <CMT-TABLE data-table-header="vm.tableHeader"
               data-table-class="table-bordered"
               data-data="vm.data"
               ng-if="vm.data">
    </CMT-TABLE>
  </div>
</div>
