<div id="detail-klienta-detail" class="tab-pane in active clearfix">
  <div class="row">
    <div class="col-xs-6">
      <table class="table table-transparent table-sm table-striped-cols table-no-header">
        <thead>
        <tr>
          <th class="col-xs-6"></th>
          <th class="col-xs-6"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>CLUID</td>
          <td>{{(vm.data.clientInfo.cluid) || '-'}}</td>
        </tr>
        <tr>
          <td>ESSO skupina</td>
          <td class="one-line" tooltip data-title="{{vm.data.essoGroup.name}}" ng-if="vm.data.essoGroup.name">
            <a href="" class="link-client" api-href="vm.data._links.essoGroupDetail.href">{{vm.data.essoGroup.name }}</a>
          </td>
          <td ng-if="!vm.data.essoGroup.name">-</td>
        </tr>
        <tr>
          <td>Sektor (Risk Industry)</td>
          <td class="one-line" tooltip
              data-title="{{vm.data.clientInfo.organization.d4Sector.displayValue}}">
            {{vm.data.clientInfo.organization.d4Sector.displayValue || '-'}}
          </td>
        </tr>
        <tr>
          <td>Sektorové NACE</td>
          <td class="one-line" tooltip
              data-title="{{vm.data.clientInfo.organization.sectorNACE.displayValue}}">
            {{vm.data.clientInfo.organization.sectorNACE.displayValue || '-'}}
          </td>
        </tr>
        <tr>
          <td>RSM</td>
          <td ng-if="vm.data.businessTeam.rsm">{{vm.data.businessTeam.rsm.firstname}} {{vm.data.businessTeam.rsm.lastname}}</td>
          <td ng-if="!vm.data.businessTeam.rsm">-</td>
        </tr>
        <tr>
          <td>Obchodní místo</td>
          <td class="one-line" tooltip data-title="{{vm.data.businessTeam.rsm.rkcUnit.displayValue}}">
            {{vm.data.businessTeam.rsm.rkcUnit.displayValue || '-'}}
          </td>
        </tr>
        <tr>
          <td>Risk manager</td>
          <td ng-if="vm.data.businessTeam.riskManager">{{vm.data.businessTeam.riskManager.firstname}}
            {{vm.data.businessTeam.riskManager.lastname}}
          </td>
          <td ng-if="!vm.data.businessTeam.riskManager">-</td>
        </tr>
        <tr>
          <td>Segment klienta EBG</td>
          <td>{{vm.data.clientRating.ratingSegment}}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-xs-6">
      <table class="table table-transparent table-sm table-striped-cols-right table-no-header">
        <thead>
        <tr>
          <th class="col-xs-7"></th>
          <th class="col-xs-5"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Aktuální čerpání ze schválené expozice (ČS Group)</td>
          <td>{{(vm.data.riskProfile.limitExpositionCurrentExtraction | ewsCurrency: "") || '-'}}</td>
        </tr>
        <tr>
          <td>Celková schválená expozice klienta v CZK (ČS Group)</td>
          <td>{{(vm.data.riskProfile.limitExpositionApprovedCzk | ewsCurrency: "") || '-'}}</td>
        </tr>
        <tr>
          <td>Celková schválená expozice klienta v EUR (ČS Group)</td>
          <td>{{(vm.data.riskProfile.limitExpositionApprovedEur | ewsCurrency: "") || '-'}}</td>
        </tr>

        <tr>
          <td>Rating</td>
          <td>{{(vm.data.clientRating.rating.displayValue) || '-'}}</td>
        </tr>
        <tr>
          <td>Datum schválení ratingu</td>
          <td>{{(vm.data.clientRating.ratingDate | ewsDate) || '-'}}</td>
        </tr>

        <tr>
          <td>Ratingová metoda</td>
          <td>{{vm.data.clientRating.ratingMethod || '-'}}</td>
        </tr>

        <tr>
          <td>Datum příští revize</td>
          <td>{{(vm.data.riskProfile.nextReviewDate | ewsDate) || '-'}}</td>
        </tr>
        <tr>
          <td>Datum vstupu na watchlist</td>
          <td>{{(vm.data.clientDetail.watchlistEntryDate | ewsDate) || '-'}}</td>
        </tr>
        <tr>
          <td>Datum změny klasifikace</td>
          <td>{{(vm.data.clientDetail.signalClassificationDate | ewsDate) || '-'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr/>
  <div class="row" ng-hide="vm.data.clientDetail.actionPlan == null || vm.data.clientOpenedSignals.length == 0">

    <div class="page-header">
      <h3>Akční plán</h3>

    </div>

    <div class="col-xs-12 action-plan">
      <div class="action-plan-plan action-plan-view">{{vm.data.clientDetail.actionPlan.actionPlan}}</div>
    </div>
    <div class="col-xs-6">

      <table class="table-striped-cols  ">
        <thead>
        <tr>
          <th class="col-xs-6"></th>
          <th class="col-xs-6"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Datum splnění akčního plánu</td>
          <td>{{vm.data.clientDetail.actionPlan.actionPlanFulfilDate | ewsDate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-6">

      <table class="table-striped-cols  ">
        <thead>
        <tr>
          <th class="col-xs-6"></th>
          <th class="col-xs-6"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Role řešitele akčního plánu</td>
          <td>{{vm.data.clientDetail.actionPlan.actionPlanResolverRole.displayValue}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr ng-hide="vm.data.clientDetail.actionPlan == null || vm.data.clientOpenedSignals.length == 0"/>


  <div class="row">
    <div class="col-xs-12">
      <div role="tablist">
        <div class="panel panel-client-detail panel-client-detail-lg">
          <div class="panel-heading pointer" role="tab" id="financial-report-header"
               ng-click="vm.reportCollapse = !vm.reportCollapse">
            <h3 class="panel-title pointer">
              Finanční report
            </h3>
          </div>
          <div class="panel-collapse" role="tabpanel" ng-show="vm.reportCollapse">
            <div class="panel-body">
              <financial-report data="vm.data.financialReport"></financial-report>
            </div>
          </div>
        </div>
      </div>

      <div role="tablist">
        <div class="panel panel-client-detail panel-client-detail-lg">
          <div class="panel-heading pointer" role="tab" id="open-signals-header" ng-click="vm.tableCollapse = !vm.tableCollapse">
            <h3 class="panel-title pointer">
              Otevřené signály klienta ({{vm.data.clientOpenedSignals.items.length}})
            </h3>
          </div>
          <div id="open-signals" class="panel-collapse" ng-hide="vm.tableCollapse">
            <div class="panel-body">
              <CMT-TABLE
                table-header="vm.tableHeader"
                hide-filter="true"
                hide-pagination="true"
                table-class="table-bordered"
                header-type="client_open_signals_table_header"
                data="vm.data.clientOpenedSignals"
                table-empty="Seznam neobsahuje žádnou položku."
                pagination="false"
                pagination-redirect="true">
              </CMT-TABLE>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO: use allowedOperations instead -->
  <div ng-if="vm.data._links.signalCreateManual.href">
    <hr/>
    <div class="col-xs-12">
      <a ui-sref="clients.addSignal({clientId: vm.clientId})" class="btn btn-default btn-wide">Založit signál</a>
    </div>
  </div>
</div>
