<div class="table-pagination">
  <!-- first -->
  <div class="btn-group pagination" ng-if="vm.maxPage > 1">
    <a ng-click="vm.setPage(1)" class="btn" ng-class="{disabled: vm.currentPage < 2}">První</a>
  </div>

  <ul class="pagination">
    <!-- prev -->
    <li ng-if="vm.maxPage > 1">
      <a ng-click="vm.prevPage()" ng-class="{disabled: vm.currentPage < 2}">&laquo;</a>
    </li>

    <!-- ... -->
    <li ng-if="vm.averageMinPage && (vm.currentPage > vm.totalElements - 1)">
      <a ng-click="vm.setPage(vm.averageMinPage)" class="'dots'" ng-bind="vm.averageMinPage"></a>
    </li>
    <li ng-if="(vm.maxPage > totalElements + 2) && (vm.currentPage > vm.totalElements - 1)">
      <a class="'dots'">...</a>
    </li>


    <!-- pages -->
    <li ng-repeat="page in vm.pages track by $index">
      <a ng-click="vm.setPage(+page.value)"
         ng-class="{'dots': page.val === '...', 'active' : vm.currentPage === page.value}">
        {{page.value }}
      </a>
    </li>

    <!-- ... -->
    <li ng-if="(vm.maxPage > totalElements + 2) && (vm.currentPage < vm.maxPage - 5)">
      <a class="'dots'">...</a>
    </li>
    <li ng-if="vm.averageMaxPage && vm.averageMaxPage < vm.maxPage">
      <a ng-click="vm.setPage(vm.averageMaxPage)" class="'dots'" ng-bind="vm.averageMaxPage"></a>
    </li>

    <!-- next -->
    <li ng-if="vm.maxPage > 1">
      <a ng-click="vm.nextPage()"
         ng-class="{disabled: vm.currentPage >= vm.maxPage}">&raquo;</a>
    </li>
  </ul>

  <!-- last -->
  <div class="btn-group pagination" ng-if="vm.maxPage > 1">
    <a class="btn" ng-click="vm.setPage(vm.maxPage)"
       ng-class="{disabled: vm.currentPage >= vm.maxPage}">Poslední</a>
  </div>

  <!-- number of records -->
  <div class="limits pull-right" ng-if="vm.limits.length > 0">
    <label>Počet záznamů v tabulce:</label>
    <ul class="pagination">
      <li ng-repeat="limit in vm.limits">
        <a ng-click="vm.setLimit(limit)" ng-class="{active: limit === vm.pageSize}">
          {{limit}}
        </a>
      </li>
    </ul>
  </div>
</div>

