<ul class="alerts-list" ng-class="{'stick': stick}" ng-style="stickStyle">
  <li ng-repeat="error in errorsService.getAll(severity)" ng-class="getAlertClass(error)"
      ng-show="errorsService.getAll(severity).length > 0">
    <!-- error message -->
    <i class="icon-alert"></i> <span class="message">{{error.data.message}}</span>
        <span ng-click="error.showMore = !error.showMore" class="showMore">
            (Více informací)
        </span>
    <!-- error detail -->
    <ul ng-show="error.showMore" class="detail">
      <li ng-if="error.data.code">{{ 'Error_label_code' | translate }}: {{ error.data.code }}</li>
      <!-- message params -->
      <li ng-repeat="param in  error.data.messageParams.messageParam" ng-switch="param.name" ng-show="isViewable(param.name) && param.value">
        {{ 'Error_label_' + param.name | translate }}:
        <span ng-switch-when="time">{{ param.value | ewsDatetime }}</span>
        <span ng-switch-default>{{ param.value }}</span>
      </li>
      <li ng-if="version">{{ 'Error_label_version' | translate }}: {{ version }}</li>
    </ul>
    <i class="icon-close" ng-click="errorsService.removeAt($index)"></i>
  </li>
</ul>
