<div id="detail-klienta-historie" class="tab-pane in active clearfix">
  <div class="block-header-top">
    <h3>Historie</h3>
  </div>
  <div class="col-xs-12">
    <CMT-TABLE
      data-table-header="vm.tableHeader"
      data-hide-filter="false"
      data-template="history"
      data-table-class="table-striped"
      data-header-type="client_history_table_header"
      data-data="vm.data.historyItems"
      data-table-empty="Seznam neobsahuje žádnou položku.">
    </CMT-TABLE>
  </div>
  <hr/>
  <div class="block-header">
    <h3>Poznámka</h3>
  </div>
  <div class="col-xs-12">
    <ng-form name="clientNoteForm" ng-submit="vm.addNote()"
          tooltip-error="note"
          tooltip-error-data="{minlength: vm.noteMinLength, maxlength: vm.noteMaxLength}">

      <textarea id="detail-client-note" name="note" ng-model="vm.note"
                placeholder="Vložit poznámku"
                ng-minlength="{{::vm.noteMinLength}}"
                ng-maxlength="{{::vm.noteMaxLength}}"
                maxlength="{{::vm.noteMaxLength+1}}">
      </textarea>

      <input type="submit" class="btn btn-default btn-wide" ng-disabled="!vm.note" value="Hledat" ng-click="vm.addNote(this)">
    </ng-form>
  </div>
</div>
