<div>
  <a  ui-sref="{{::vm.column.linkUI}}({clientId: vm.record.cluid, signalId: vm.record.signalId, groupId: vm.record.cluid})"
      title="{{::vm.getValue(vm.record, vm.column.name) }}">
    {{::vm.getValue(vm.record, vm.column.name) }}
  </a>

  <!-- icon: duplicated -->
  <i ng-if="vm.record.duplicated" tooltip ews-icon="'duplicated'"
     ng-attr-data-title="{{::vm.column.duplicatedIconTooltip}}" class="ews-icon ews-icon-right help"></i>
  <!-- icon: actionPlanSignal -->
  <i ng-if="vm.record.actionPlanSignal" tooltip ews-icon="'actionPlanSignal'"
     ng-attr-data-title="{{::vm.column.actionPlanIconTooltip}}" class="ews-icon ews-icon-right help"></i>
</div>
