<form name="quickSearchForm" ng-submit="vm.search()">
  <div class="has-feedback input-search">

    <label class="control-label sr-only">Search field</label>
    <input type="text"
           name="query"
           class="form-control no-border" placeholder="IČ/číslo signálu"
           ng-maxlength="{{::vm.queryMaxLenght}}"
           maxlength="{{::vm.queryMaxLenght+1}}"
           ng-model="vm.query">

    <i ng-class="{disabled: vm.query.length < 3 || quickSearchForm.$invalid}" ng-click="vm.search()"></i>
  </div>
</form>
