.contact {
  .jumbotron {
    h2 {
      color: #00519d;
    }

    .lead {
      img {
        margin: 10px;
        width: 130px;
        -moz-border-radius:75px;
        -webkit-border-radius: 75px;
      }
    }
  }
}
